.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @media (min-width: 1130px) {
        justify-content: space-around;
        align-items: center;
    }
    img {
        width: 400px;
        height: 400px;
        @media (max-width: 560px) {
            width: 260px;
            height: 260px;
        }
    }
    .descr {
        text-align: center;
       
    }
    
}

.price {
    font-size: 22px;
    font-weight: 700;
}